<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Workout</title>
    <h1>Edit Workout</h1>

    <form action="/fitness/<%=fitness._id%>?_method=PUT" method="POST">
    Title: <input type="text" name="title" value="<%=fitness.title%>" /><br/>
    Image: <input type="text" name="image" value="<%=fitness.img%>" /><br/>
    Duration: <input type="text" name="duration" value="<%=fitness.duration%>" /><br/>
    Difficulty: <input type="text" name="difficulty" value="<%=fitness.difficulty%>" /><br/>
    Tags: <input type="text" name="Tags" value="<%=fitness.tags%>" /><br/>
    <input type="submit" value="Submit Changes"/>
    </form>
    <br>
    <a href="/fitness">
        <button class="backBttn" type="button" id="back">back</button>
    </a>

</head>
</html>