<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
    <title><%=fitness.title%></title>
</head>
<body>
    <div class="container showContainer mt-5">
        <div class="row showHead">
            <div class="col-5">
                <h1><%=fitness.title%></h1>
            </div>
            <div class="col-7 mb-0 dateHead">
                <p>Date: <%=fitness.date%></p>
            </div>
        </div>
        <div class="row showImgRow">
                <img class="showImg" src="<%= fitness.img%>">
        </div>
        <div class="row showBttns">
            <div class="col-3 offset-7 editShow">
                <a href="/fitness/<%=fitness.id%>/edit">
                    <button class="btn btn-secondary">Edit Workout</button>
                </a>
            </div>
            <div class="col">
                <form action="/fitness/<%= fitness.id %>?_method=DELETE" method="POST">
                    <input class="btn btn-danger deleteBttn px-4" type="submit" value="Delete">
                </form>
            </div>
        </div>
        <p>Duration: <%=fitness.duration%> mins</p>
        <p>Difficulty: <%=fitness.difficulty%></p>
        <p>Tags: <%=fitness.tags%></p>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/fitness">
                    <button class="showBack mb-3 mt-3">Back to Workouts</button>
                </a>
            </div>
        </div>
    </div>





</body>
</html>