<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/fitness/<%=fitness.id%>/edit">
        <button>Edit Workout</button>
    </a>
    <h1><%=fitness.title%></h1>
    <p>Date: <%=fitness.date%></p>
    <img src="<%= fitness.img%>">
    <p>Duration: <%=fitness.duration%></p>
    <p>Difficulty: <%=fitness.difficulty%></p>
    <p>Tags: <%=fitness.tags%></p>
    <form action="/fitness/<%= fitness.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/fitness">
        <button>Back to Workouts</button>
    </a>
</body>
</html>